.FM-skills {
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.FM-skills div:hover {
    transform: translateY(-20px);
}

@media (min-width:768px) {
    .FM-skills:hover > div:not(:hover) {
        transform: translateY(20px);
        filter: blur(5px);
    }
}

@media screen and (max-width:768px) {
    .FM-skills {
        padding-top: 150px;
        padding-bottom: 0;
    }

    .FM-skills div {
        margin-bottom: 150px;
    }
    
}